body {
  margin: 0px;
  overflow-x: hidden;
  font-family: "Noto Sans TC";
  font-style: normal;
}

input {
  padding: 0;
  border: 0;
}

.top {
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 54px;
  z-index: 10;
  border-bottom-style: solid;
  border-color: #e8e8e8;
  border-width: thin;
}

.navigation-bar {
  display: flex;
  width: 1200px;
}

a {
  text-decoration: none;
  color: #666666;
}

.topic {
  display: flex;
  align-items: center;
  width: 150px;
  height: 34px;
  font-size: 30px;
  color: #448899;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.frame-2 {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  align-items: center;
}

.frame-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  line-height: 13px;
  height: 14px;
}

.schedule {
  width: 64px;
  cursor: pointer;
  padding: 10px;
  box-sizing: unset;
}

.sign {
  width: 71px;
  cursor: pointer;
  padding: 10px;
  box-sizing: unset;
}

.schedule:hover,
.sign:hover {
  background: #e8e8e8;
  border-radius: 3px;
}

.member-icon {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 12.5px 10px;
  background-image: url("/static/images/user.png");
  background-repeat: no-repeat;
  background-size: 30px;
}

.member-list {
  background-color: white;
  position: absolute;
  top: 31px;
  text-align: center;
  right: 0.5px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  border-radius: 3px;
}

.member-info-site {
  padding: 5px 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  width: 80px;
  justify-content: center;
  box-sizing: unset;
}

.member-info-site:hover,
.signout:hover {
  color: #666666;
  background-color: #d8d5d5;
  border-radius: 3px;
}

.signout {
  cursor: pointer;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 4px;
  height: 20px;
  width: 80px;
  box-sizing: unset;
}

.white-area {
  width: 100%;
  height: 54px;
}

.dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 50;
}

.signin {
  box-sizing: border-box;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  width: 340px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
  box-shadow: 0px 4px 60px #aaaaaa;
  animation-name: signin-move;
  animation-duration: 0.5s;
}

.none {
  display: none;
}

@keyframes signin-move {
  from {
    top: -200px;
  }
  to {
    top: 80px;
  }
}

.decorator-bar {
  width: inherit;
  height: 10px;
  border-radius: 6px 6px 0 0;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
}

.signin-signup-text {
  position: relative;
  display: flex;
  height: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  justify-content: center;
  margin: 15px;
}

.exit {
  position: absolute;
  height: 16px;
  width: 16px;
  background-image: url("/static/images/icon_close.png");
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  cursor: pointer;
}

.email,
.password,
.name {
  box-sizing: border-box;
  margin: 0 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  padding: 15px 10px 15px 15px;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  outline: none;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}

.name {
  margin-bottom: 10px;
}

.email::placeholder,
.password::placeholder,
.name::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
}

.password {
  margin: 10px 15px 0 15px;
}

.rule-text {
  margin-top: 2px;
  margin-left: 15px;
  padding-left: 24px;
  font-size: 14px;
  color: #fa5252;
  background-image: url("/static/images/error2.png");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-bottom: 1px;
}

.signin-button,
.signup-button {
  width: 310px;
  height: 47px;
  margin: 10px 15px 0 15px;
  background: #448899;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}

.change-signup,
.change-signin {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  margin: 10px 15px 15px 15px;
  color: #666666;
  cursor: pointer;
  line-height: 13px;
}

.signup {
  box-sizing: border-box;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  width: 340px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}

.status-message {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #757575;
}

.footer div {
  display: flex;
  color: #ffffff;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 13px;
  height: 24px;
  margin: 40px;
}
