<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/attraction.css" />
    <title>景點頁面</title>
  </head>
  <body>
    <div class="top">
      <div class="navigation-bar">
        <a href="/"><div class="topic">台北一日遊</div> </a>
        <div class="frame-2">
          <div class="frame-1 schedule">預定行程</div>
          <div class="frame-1 sign">登入/註冊</div>
        </div>
      </div>
    </div>
    <div class="white-area"></div>
    <div class="container">
      <div class="content">
        <div class="section">
          <div class="current-pic">
            <img
              src="https://sarachen1020.github.io/wehelp_assignment/week-1/02-1.jpg"
            />
            <div class="right-arrow"></div>
            <div class="left-arrow"></div>
            <div class="circle-place">
              <div class="current"></div>
              <div class="not-current"></div>
              <div class="not-current"></div>
            </div>
          </div>
          <div class="profile">
            <div class="attraction-name">平安鐘</div>
            <div class="category-mrt">公共藝術 at 忠孝復興</div>

            <div class="booking-form">
              <div class="booking-title">訂購導覽行程</div>
              <div class="booking-slogan">
                以此景點為中心的一日行程，帶您探索城市角落故事
              </div>

              <div class="field-date">
                <div class="date">選擇日期：</div>
                <input class="date-input" type="date" />
              </div>

              <div class="field-time">
                <div class="time">選擇時間：</div>

                <input
                  class="time-input"
                  type="radio"
                  name="day-time"
                  id="radioID"
                  checked
                />
                <label class="radio-label" for="radioID"></label>
                <div class="day-text">上半天</div>

                <input
                  class="time-input"
                  type="radio"
                  name="day-time"
                  id="radioID2"
                />
                <label class="radio-label" for="radioID2"></label>
                <div class="day-text">下半天</div>
              </div>

              <div class="field-price">
                <div class="price">導覽費用：</div>
                <div class="price-1">新台幣 2000 元</div>
              </div>

              <button>開始預約行程</button>
            </div>
          </div>
        </div>
        <hr />
        <div class="infors">
          <div class="description">
            北投溫泉從日據時代便有盛名，深受喜愛泡湯的日人自然不會錯過，瀧乃湯、星乃湯、鐵乃湯就是日本人依照溫泉的特性與療效給予的名稱，據說對皮膚病、神經過敏、氣喘、風濕等具有很好的療效，也因此成為了北部最著名的泡湯景點之一。新北投溫泉的泉源為大磺嘴溫泉，泉質屬硫酸鹽泉，PH值約為3~4之間，水質呈黃白色半透明，泉水溫度約為50-90℃，帶有些許的硫磺味
            。目前北投的溫泉旅館、飯店、會館大部分集中於中山路、光明路沿線以及北投公園地熱谷附近，總計約有44家，每一家都各有其特色，多樣的溫泉水療以及遊憩設施，提供遊客泡湯養生，而鄰近的景點也是非常值得造訪，例如被列為三級古蹟的三寶吟松閣、星乃湯、瀧乃湯以及北投第一家溫泉旅館「天狗庵」，都有著深遠的歷史背景，而北投公園、北投溫泉博物館、北投文物館、地熱谷等，更是遊客必遊的景點，來到北投除了可以讓溫泉洗滌身心疲憊，也可以順便了解到北投溫泉豐富的人文歷史。
          </div>
          <div class="address-title">景點地址：</div>
          <div class="address">臺北市北投區中山路、光明路沿線</div>
          <div class="transport-title">交通方式：</div>
          <div class="transport">
            新北投站下車，沿中山路直走即可到達公車：216、218、223、230、266、602、小6、小7、小9、、小22、小25、小26至新北投站下車
          </div>
        </div>
      </div>
      <div class="footer">
        <div>COPYRIGHT © 2021 台北一日遊</div>
      </div>
    </div>
  </body>
</html>
