<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/sign.css" />
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <title>台北一日遊</title>
    {% endblock %}
  </head>
  <body>
    <div class="dark none"></div>
    <div class="top">
      <div class="navigation-bar">
        <a href="/"><div class="topic">台北一日遊</div> </a>
        <div class="frame-2">
          <div class="frame-1 schedule">預定行程</div>
          <div class="frame-1 sign none" onclick="signInOpen()">登入/註冊</div>
          <div class="frame-1 member-icon none">
            <div class="member-list none">
              <a href="/member"><div class="member-info-site">會員專區</div></a>
              <div class="signout">登出系統</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="signin none">
      <div class="decorator-bar"></div>
      <div class="signin-signup-text">
        登入會員帳號
        <div class="exit"></div>
      </div>
      <label>
        <input
          class="email"
          id="signin-email"
          type="email"
          name="email"
          placeholder="輸入電子信箱"
          oninput="checkValid(this)"
        />
        <input
          class="password"
          id="signin-password"
          type="password"
          name="password"
          placeholder="輸入密碼"
          oninput="checkValid(this)"
        />
        <div class="rule-text none"></div>
        <button class="signin-button">登入帳戶</button>
      </label>
      <div class="status-message error none" id="signin-error">失敗訊息</div>
      <div class="change-signup" onclick="signUpOpen()">
        還沒有帳戶？點此註冊
      </div>
    </div>
    <div class="signup none">
      <div class="decorator-bar"></div>
      <div class="signin-signup-text">
        註冊會員帳號
        <div class="exit"></div>
      </div>
      <label>
        <input
          class="name"
          id="signup-name"
          type="text"
          name="name"
          placeholder="輸入姓名"
          oninput="checkValid(this)"
        />
        <input
          class="email"
          id="signup-email"
          type="email"
          name="email"
          placeholder="輸入電子信箱"
          oninput="checkValid(this)"
        />
        <input
          class="password"
          id="signup-password"
          type="password"
          name="password"
          placeholder="輸入密碼"
          oninput="checkValid(this)"
        />
        <div class="rule-text none"></div>
        <button class="signup-button">註冊新帳戶</button>
      </label>
      <div class="status-message success none">註冊成功！</div>
      <div class="status-message error none" id="signup-error">失敗訊息</div>
      <div class="change-signin" onclick="signInOpen()">
        已經有帳戶了？點此登入
      </div>
    </div>
    <div class="white-area"></div>

    {% block content %}
    <div class="vision">
      <div class="slogan">
        <div class="slogan-1">輕鬆享受台北一日悠閒</div>
        <div class="slogan-2">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search-bar">
          <input
            type="text"
            placeholder="輸入景點名稱查詢"
            class="search"
            value=""
          />
          <div class="search-icon search-btn"></div>
          <div class="categories">
            <!-- <div>養生溫泉</div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="no-result"></div>
    <div class="container">
      <div class="gallery">
        <!-- <a href="/attraction/1">
          <div class="pic">
            <div class="pic-box">
              <img src="圖片網址" />
              <div class="attraction-name">平安鐘</div>
            </div>
            <div class="pic-title">
              <div class="mrt">忠孝復興</div>
              <div class="category">公共藝術</div>
            </div>
          </div>
        </a> -->
      </div>
      {% endblock %}
      <!-- <div class="loading"></div> -->
      <div class="footer">
        <div>COPYRIGHT © 2022 台北一日遊</div>
      </div>
    </div>
    {% block script %}
    <script src="/static/javascript/index.js"></script>
    {% endblock %}
    <script src="/static/javascript/sign.js"></script>
  </body>
</html>
