<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <title>台北一日遊</title>
  </head>
  <body>
    <div class="top">
      <div class="navigation-bar">
        <div class="topic">台北一日遊</div>
        <div class="frame-2">
          <div class="frame-1 schedule">預定行程</div>
          <div class="frame-1 sign">登入/註冊</div>
        </div>
      </div>
    </div>
    <div class="white-area"></div>
    <div class="vision">
      <div class="slogan">
        <div class="slogan-1">輕鬆享受台北一日悠閒</div>
        <div class="slogan-2">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search-bar">
          <input
            type="text"
            placeholder="輸入景點名稱查詢"
            class="search"
            value=""
          />
          <div class="search-icon btn"></div>
          <div class="categories">
            <!-- <div>養生溫泉</div>-->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="gallery">
        <!-- <div class="pic">
          <img
            src="https://sarachen1020.github.io/wehelp_assignment/week-1/02-1.jpg"
          />
          <div class="attraction-name">平安鐘</div>
          <div class="pic-title">
            <div class="mrt">忠孝復興</div>
            <div class="category">公共藝術</div>
          </div>
        </div> -->
      </div>
      <div class="footer">
        <div>COPYRIGHT © 2021 台北一日遊</div>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
